# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm project settings
.idea
.idea/

# virtualenv
.venv
venv/
venv/Lib/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# test files
test.py
